<h1>My Name is J.D. and I Love to Code!</h1>
<p>Rails is really cool</p>

<%# Counting from 1 - 10 %>
<%= "Count to 10" %>
<br>
<% 11.times do |n| %>
<%= n %>
<% end %> 
<br>
<%= image_tag "Waylon_icecream_1.jpg", size: "200x200", alt: "Baby Boy is 1" %>